<div class="contenar">
    <mat-toolbar color="primary">
      <span class="example" routerLink="/login/"><img src="assets/images/logos/un.png" alt=""> </span>
      <button mat-button class="example btn" routerLink="/add">
          Admin
      </button>
      <button mat-button class="example btn" routerLink="/view/users">
          View Data
      </button>
      <button mat-button class="example btn" routerLink="/login/">
        Login
    </button>
    <span class="example-spacer"></span>

    <button mat-button class="example btn" routerLink="/login/">
        Logout
    </button>
     
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>
  </div>
  