<mat-drawer-container class="example-container" autosize >
  
    <mat-drawer #drawer class="example-sidenav" mode="side" opened>
        <div class="logo">
            <img class="logo-icon" src="assets/images/logos/un.png">
            <br>
            <span class="logo-text secondary-text">Tomorrow's solutions</span>
        </div>
        <div class="user" fxLayout="column" >
        
            <div class="h3 username">Charlie Adams</div>
            <div class="h5 email hint-text mt-8">adams.charlie@mail.com</div>
            <div class="avatar-container">
                <img class="avatar" src="assets/images/avatars/Velazquez.jpg">
            </div>
          
            <button  mat-button routerLink="contacts" >
                AddUser
             </button>
         </div>
        
    </mat-drawer>
       
        <div class="example-sidenav-content">
           
           <router-outlet></router-outlet>           
        </div>
     
  </mat-drawer-container>
 
  

  